<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="9.3">
<file name="D:\Capstone\backend\Users\src\main\java\com\users\config\CorsConfig.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\constants\UserConstants.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\controller\AddressController.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\controller\UserController.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\dto\conversion\DtoConversion.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\entities\Address.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\entities\User.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\entities\UserRole.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\exception\AddressNotFoundException.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\exception\GlobalExceptionHandler.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\exception\InsufficientBalanceException.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\exception\InvalidCredentialsException.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\exception\UserAlreadyExistsException.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\exception\UserNotFoundException.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\indto\AddressRequest.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\indto\UpdateUserRequest.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\indto\UserLoginRequest.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\indto\UserRequest.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\outdto\AddressResponse.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\outdto\UpdateUserResponse.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\outdto\UserResponse.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\repositories\AddressRepository.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\repositories\UserRepository.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\service\AddressService.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\service\impl\AddressServiceImpl.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\service\impl\UserServiceImpl.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\service\UserService.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\UsersApplication.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\java\com\users\utils\Base64Utils.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\controller\AddressControllerTest.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\controller\UserControllerTest.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\entities\AddressTests.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\entities\UserTests.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\indto\AddressRequestTest.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\indto\UpdateUserRequestTest.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\indto\UserLoginRequestTest.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\indto\UserRequestTest.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\outdto\AddressResponseTest.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\outdto\UpdateUserResponseTest.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\outdto\UserResponseTest.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\service\AddressServiceImplTest.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\service\UserServiceImplTest.java">
</file>
<file name="D:\Capstone\backend\Users\src\test\java\com\users\UsersApplicationTests.java">
</file>
<file name="D:\Capstone\backend\Users\src\main\resources\application.properties">
</file>
</checkstyle>
